# --- База Данных ---
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=CHANGEME_SECURE_PASSWORD
POSTGRES_DB=zabbix

# --- Настройки Zabbix ---
ZBX_SERVER_NAME=Standard_Monitoring
ZBX_HOSTNAME=Zabbix_Cloud_Server
ZBX_CACHELINESIZE=128

# --- Система ---
TIMEZONE=Europe/Kyiv