# Секреты
**/.env
**/.env.*
!**/.env.example

# Базы данных и данные контейнеров
**/zabbix/db/
**/zabbix_proxy_db/
**/postgres/data/
**/mysql/data/

# Nginx & Proxy Manager
**/nginx-proxy/data/
**/nginx-proxy/letsencrypt/

# Специфично для Zabbix (сессии и конфиги)
**/zabbix/web/
**/zabbix/etc/

# Логи и временные файлы
*.log
**/logs/
tmp/

# Системный мусор и редакторы
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp