# --- База Данных ---
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=CHANGEME_PASSWORD
POSTGRES_DB=zabbix

# --- Настройки Zabbix ---
# Имя, которое будет отображаться в заголовке браузера
ZBX_SERVER_NAME=Standard_Monitoring
# Имя хоста сервера внутри Zabbix
ZBX_HOSTNAME=Zabbix_Cloud_Server

# --- Система ---
TIMEZONE=Europe/Kyiv