# --- Мережеві налаштування Tailscale ---
# Унікальне ім'я пристрою в панелі Tailscale
TS_HOSTNAME=city-branch-name
# Ключ авторизації (візьміть свіжий у консолі Tailscale, якщо старий прострочено)
TS_AUTHKEY=tskey-auth-YOUR_KEY_HERE
# Маршрути, які ми публікуємо: 33 та 36 підмережі + 99-та, for example
TS_ROUTES=172.17.33.0/24,172.17.36.0/24,172.17.99.0/24

# --- Налаштування Zabbix Proxy ---
# Має точно збігатися з ім'ям Proxy в інтерфейсі Zabbix Server
PROXY_HOSTNAME=Proxy-Branch-Name
# Внутрішня IP-адреса вашого центрального сервера в Tailscale
ZBX_SERVER_IP=100.99.7.32

# --- Шляхи на хості Ubuntu (Proxmox VM) ---
# Використовуємо локальні папки в директорії зі скриптом
PATH_SNMPTRAPS=./snmptraps
PATH_ZABBIX_DB=./zabbix_db
PATH_TS_STATE=./tailscale_state
PATH_MIBS=./mibs